In [1]:
import pandas as pd
import pprint

In [2]:
# Import list of tickers retrieved from https://www.slickercharts.com/nasdaq100/.
# The tickers were copied and pasted into csv as read_html and BeautifulSoup
# scraping attempts were rejected
df = pd.read_csv("NASDAQ_Tickers.csv", encoding="UTF-8")
df

                           Company Ticker
0                        Apple Inc   AAPL
1                   Microsoft Corp   MSFT
2                   Amazon.com Inc   AMZN
3                      NVIDIA Corp   NVDA
4               Meta Platforms Inc   META
..                             ...    ...
96   Zoom Video Communications Inc     ZM
97          Sirius XM Holdings Inc   SIRI
98              Enphase Energy Inc   ENPH
99                  JD.com Inc ADR     JD
100                Lucid Group Inc   LCID

[101 rows x 2 columns]

In [3]:
# Isolate the list of tickers
tickers = [df["Ticker"]]
tickers

[0      AAPL
 1      MSFT
 2      AMZN
 3      NVDA
 4      META
        ...
 96       ZM
 97     SIRI
 98     ENPH
 99       JD
 100    LCID
 Name: Ticker, Length: 101, dtype: object]

In [4]:
# Covert list to a DataFrame
tickers_df = pd.DataFrame(df["Ticker"])
tickers_df

    Ticker
0     AAPL
1     MSFT
2     AMZN
3     NVDA
4     META
..     ...
96      ZM
97    SIRI
98    ENPH
99      JD
100   LCID

[101 rows x 1 columns]

In [5]:
# Write to text file
tickers_df.to_csv("NASDAQ_100.txt", index=False)